@import url('/resources/background-pattern.css');
@import url('/resources/impact-label-font-face.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 25px;
    font-family: 'Impact Label', sans-serif;
    font-size: 1.3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    width: 100%;
}

header {
    width: 100%;
    z-index: 999;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between; /* Center items horizontally within the header */
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: center; /* Center items horizontally within the container */
    align-items: center; /* Center items vertically within the container */
}

.logo-container #header-logo {
    width: 90%;
    height: auto;
}
  

nav {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

        .nav-links ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none; 
            padding: 0;
            margin: 0; 
        }

        .nav-links a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 1.8rem;
            color: black;
            transition: all 0.1s ease-in-out;
        }

            .nav-links a:hover {
                transform: scale(1.2);
            }

        /* .nav-links li {
            padding: 20px 2em;
        } */



@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        padding: 10px 0;
    }
}            
/* ----------------------------------------- */
/* BODY STRUCTURE */
.column {
    padding: 10px;
}

.left {
    flex: 1;
    font-family: 'Impact Label Reversed', sans-serif;
}
    .left h2 {
        text-align: center;
    }

    .left .date, h2 {
        font-family: 'Impact Label', sans-serif;
        margin-bottom: 20px;
    }

    .left a {
        text-decoration: none;
        color: black;
        transition: all 0.2s;
        padding: 10px;
    }

        .left a:hover {
            font-size: 1.5rem;
        }

    .left .show-box {
        background-color: rgba(211, 211, 211, 0.5);
        padding: 5px 10px;
    }   

    .left .shows {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .left .show-box li {
        padding: 10px 0;
    }

.middle {
    flex: 2;
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

.right {
    flex: 1;
}


/* ------------------------------------ */
/* CENTER CIRCLE */
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;  
    height: 600px; 
    background: linear-gradient(#FFAA33, #FF5F1F);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    transform: perspective(1000px) rotateX(0) rotateY(0);
    transition: transform 0.3s;
}

.circle:hover {
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
}

        .circle button {
            width: 30%;
            height: 10%;
            font-size: 1.4rem;
            font-family: 'Impact Label Reversed';
            background-color: #fff;
            border: none;
        }

        .circle img {
            width: 80%; /* Ensure the image fills the circle */
            height: auto; /* Maintain aspect ratio */
        }



/* ---------------------------------------------------- */
/* PHOTO GALLERY CONTENT */
.gallery-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 5px 10px;
}

.gallery-container h2 {
    text-align: center;
}

.gallery-link {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.gallery-link h3 {
    justify-content: center;
    text-align: center; 
    padding: 10px;
}

.gallery-link img {
    width: 80%; 
    margin: 0 auto; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.gallery-link a {
    text-align: center;
    
}

.gallery-link img:hover {
    transform: scale(1.05);
}
        


